* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: url(/images/jungleUp.jpg) repeat-x bottom center fixed,
    url(/images/jungleDown.jpg) repeat-x top center;
    padding: 1em;
}
#wrapper {
    border-radius: 8px;
    border: solid 2px #53b467;
    margin: 1em auto 2em;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0px 0px 10px rgba(27, 87, 79, .8);
    max-width: 1000px;
}
#contact {
    background-color: #70c5b5b8;
    color: #fff;
    padding-bottom: 2em;
}